<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>ToDoList @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" defer></script>
</head>
<body>
    <header>
        <div class="bg-white border-bottom shadow-sm mb-4">
            <div class="container d-flex justify-content-center">
                <a class="fs-1 logo text-decoration-none text-black my-2" asp-controller="ToDoList" asp-action="Index">ToDoList</a>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
