@model CategoryViewModel

@{
    ViewData["Title"] = " - Categories";
    var categoriesList = Model.CategoriesList;
}

<form method="post" asp-action="Index" class="d-flex flex-column justify-content-center align-items-center mb-4">
    <div class="col-6 mt-4">
        <span asp-validation-for="CategoryInputViewModel.Name" class="text-danger"></span>
        <div class="d-flex flex-row gap-2">
            <input type="text" asp-for="CategoryInputViewModel.Name" class="form-control w-100" placeholder="Enter a category name here" />
            <input type="submit" class="form-control w-auto btn btn-success" value="Add">
        </div>
    </div>
</form>

@if (categoriesList.Count() > 0)
{
    <h2 class="d-flex justify-content-center mb-4">Categories</h2>
    <table class="table col-6">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in categoriesList)
            {
                <tr>
                    <td class="col-11">@item.Name</td>
                    <td class="col-1"><a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
}
